.review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    width: 460px;
    background-color: rgb(114, 114, 114);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
  }
  
  .user-name {
    margin: 0;
  }
  
  .review-star-rating {
    color: #ffcc00;
  }
  
  .reply-button {
    align-self: flex-end;
    width: auto;
    margin: auto;
  }

  .thumbs {
    display: flex;
    justify-content: end;
    gap: 10px;
    color: #ffffff; 
    transition: color 0.3s;
  }

  .thumbs .icon-up:hover {
    color: rgb(81, 142, 255);
  }

  .thumbs .icon-down:hover {
    color: #ec1c1c;
  }

  .delete-button {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
