@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Creepster&family=Oswald&family=Raleway:wght@400;700&display=swap");

body {
    background-color: black;
}

h1 {
    font-family: 'Creepster', cursive;
    color: #ec1c1c;
}