footer {
    background: linear-gradient(to right, #0f3454, #6a4ba1);
    width: 80vw;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.footer-link {
    cursor: pointer;
}