h3 {
  color: blue;
}
input {
  border-radius: 10px;
  margin-left: 10px;
}
textarea {
  border-radius: 10px;
  margin-left: 10px;
}
#root {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* z-index: -1; */
  background-image: url("https://s.hdnux.com/photos/35/75/52/7854756/6/rawImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.form {
  width: 300px;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
}
