@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Creepster&family=Oswald&family=Raleway:wght@400;700&display=swap");

.review-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: auto;
}

.review-card {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#review {
  font-family: "Creepster";
  font-size: 50px;
  color: red;
}

#reviewArea {
  background-color: rgb(114, 114, 114);
  height: 150px;
}

#submit{
    background-color: #ec1c1c;
}