nav {
    background-color: #b0b0b0;
    color: #fff;
    width: 80vw;
    margin: auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  